.steve
{
    font-family: 'Sedgwick Ave Display', cursive;
}

#apple
{
  font-family: 'Sedgwick Ave Display', cursive;  
}

.jobs 
{
    font-family: 'Pacifico', cursive;
}

.stevejobslife
{
font-family: 'Baloo Bhaijaan', cursive;
}

.bullets
{
font-family: 'Indie Flower', cursive;
font-size: 20px;
}


